<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-LjehGc1Xz8OPEbAQWLXkyGAeICg24es</string>
	<key>GCM_SENDER_ID</key>
	<string>1058680587089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testprojectnew</string>
	<key>PROJECT_ID</key>
	<string>laza-ecommers</string>
	<key>STORAGE_BUCKET</key>
	<string>laza-ecommers.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058680587089:ios:d5e2118dc12a0d9dbac970</string>
</dict>
</plist>